@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --primary: #81afdd;
  --secondary: #c9d3e0;
  --accent: #14b8a6;
  --background: #040c18;
  --main: #0d0106;
  --header: #2d3748;
  --footer: #031b34;
}

/* Scrollbar Styles */
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(73, 86, 112, 1) rgba(15, 23, 42, 1);
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 1);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(73, 86, 112, 1);
  border: 3px solid rgba(15, 23, 42, 1);
  border-radius: 10px;
}

@layer {
  @font-face {
    font-family: "Calibre";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Calibre/Calibre-Regular.ttf");
  }

  @font-face {
    font-family: "Calibre";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Calibre/Calibre-Semibold.ttf");
  }

  @font-face {
    font-family: "SFMono";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/SFMono/SFMono-Regular.ttf");
  }

  @font-face {
    font-family: "SFMono";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/SFMono/SFMono-Semibold.ttf");
  }

  @font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Lexend/Lexend-Regular.ttf");
  }

  @font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Lexend/Lexend-Bold.ttf");
  }
}

@layer utilities {
  /* underline horizontal */
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #14b8a6;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* underline vertical */
  .bg-growing-underline {
    background-size: 100% 0.1em;
    background-position: 0 88%;
    @apply bg-no-repeat transition-all duration-200;
  }
  .bg-growing-underline:hover {
    background-size: 100% 100%;
  }
  .bg-growing-underline:focus {
    background-size: 100% 100%;
  }

  /* background radial gradient */
  .gradient-bg {
    background: -moz-radial-gradient(
      circle at 3% 25%,
      rgba(0, 40, 83, 1) 0%,
      rgba(15, 23, 42, 1) 25%
    );

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(
      circle at 3% 25%,
      rgba(0, 40, 83, 1) 0%,
      rgba(15, 23, 42, 1) 25%
    );

    /* opera 11.10+ */
    background: -o-radial-gradient(
      circle at 3% 25%,
      rgba(0, 40, 83, 1) 0%,
      rgba(15, 23, 42, 1) 25%
    );

    /* ie 10+ */
    background: -ms-radial-gradient(
      circle at 3% 25%,
      rgba(0, 40, 83, 1) 0%,
      rgba(15, 23, 42, 1) 25%
    );

    /* global 92%+ browsers support */
    background: radial-gradient(
      circle at 3% 25%,
      rgba(0, 40, 83, 1) 0%,
      rgba(15, 23, 42, 1) 25%
    );
  }
}
